@model IEnumerable<ProyectoLibreria.LibroEscritor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Escritor.nombre_escritor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro.nombre_libro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Escritor.nombre_escritor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libro.nombre_libro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_libroescritor }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_libroescritor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_libroescritor })
        </td>
    </tr>
}

</table>
